body {
    font-family: arial;
    background: url("imagenes/matrix.jpg");
    background-repeat: no-repeat;
    display: grid;
    place-items: center;


}

html,
body {
    height: 100%;
}

header {
    color: white;
    display: flex;
    place-items: center;
    background: black;
    width: 100%;

}

header>button {
    width: 100px; 
     height: 100px; 
     border: 3px solid #555;
    margin-left: 35%;
    font-size: 20px;
    background: rgb(83, 139, 243);
  


}

header>h1 {

    margin-left: 15%;
    font-size: 45px;
}




.conteiner {
    position: absolute;

}

.word {
    display: flex;
}

.cajaTextarea {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.cajaTextarea>textarea {
    width: 500px;
    height: 275px;
    text-align: center;
    font-size: 25px;
    font-family: Arial, sans-serif;
    border-radius: 20px;
}
.btn2{
    width: 250px;
    height: 100px;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    background: #5cb85c;
    border: 3px solid #555;
    color: rgb(15, 15, 14);
    font-size: 20px;
}

.cajaBotones>button {
    margin-left: 150px;
    width: 180px;
    height: 100px;
    text-align: center;
    background: rgb(83, 139, 243);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
    box-shadow: 6px 6px 2px white;
    border-radius: 20px;


}

@media (min-width: 1000px) {
    .btn3:hover {
        background: rgb(6, 6, 14);
        color: white;
    }

@media (min-width: 1000px) {
     .btn1:hover {
         background: rgb(6, 6, 14);
         color: white;
      }

      @media (min-width: 1000px) {
        .btn0:hover {
            background: rgb(230, 119, 17);
            color: white;
         }